:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0e0e0e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar styling might be nice later, but keeping it simple for now */
